@model IEnumerable<CMISProject.Models.Routine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Group.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoutineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoutineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoutineId })
        </td>
    </tr>
}

</table>
