@model CMISProject.ViewModels.UserViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "User", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UserViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sex, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CustomEnumDropDownListFor(model => model.Sex, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sex)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MiddleName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MiddleName)
                @Html.ValidationMessageFor(model => model.MiddleName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth)
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nationality, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nationality)
                @Html.ValidationMessageFor(model => model.Nationality)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Religion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Religion)
                @Html.ValidationMessageFor(model => model.Religion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CitizenShipNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CitizenShipNumber)
                @Html.ValidationMessageFor(model => model.CitizenShipNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BloodGroup, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CustomEnumDropDownListFor(model => model.BloodGroup, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.BloodGroup)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Semester, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CustomEnumDropDownListFor(model => model.Semester, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Semester)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Guardian1Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Guardian1Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Guardian1Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Guardian1PhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Guardian1PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Guardian1PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Guardian2Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Guardian2Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Guardian2Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Guardian2PhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Guardian2PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Guardian2PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageFile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ImageFile, new { @Type="file"})
                @Html.ValidationMessageFor(model => model.CitizenShipNumber)
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
