@model CMISProject.Models.Resource

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Resource</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Rtype, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rtype)
                @Html.ValidationMessageFor(model => model.Rtype)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ResName)
                @Html.ValidationMessageFor(model => model.ResName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Filename, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Filename)
                @Html.ValidationMessageFor(model => model.Filename)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UploadedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UploadedDate)
                @Html.ValidationMessageFor(model => model.UploadedDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
